@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url(".././assets/fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url(".././assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url(".././assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url(".././assets/fonts/Montserrat-Bold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #D5DDE1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  box-sizing: border-box;
}

h1 {
  color: #660033;
  font-family: Montserrat;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  color: #660033;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
}

h2.thin {
  font-weight: normal;
}

p,
label {
  font-size: 14px;
  color: #660033;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
}

p.grey {
  color: #555555;
}

main {
  width: 100%;
}

section {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 5px 50px;
  height: 100vh;
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

section[class=category] {
  padding: 20px 5px 20px;
}

button {
  font-family: Montserrat;
  font-weight: thin;
  text-transform: uppercase;
  background-color: #660033;
  color: #ffffff;
  transition: 0.3s;
  width: 150px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #95627C;
}

.logo {
  background-image: url(".././assets/svg/logo.png");
  width: 220px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 50px;
  background-size: contain;
}

.options {
  display: flex;
  justify-content: center;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 50px;
}

.choice__choice-one,
.choice__choice-two {
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  max-width: 415px;
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  position: relative;
}
.choice__choice-one:hover,
.choice__choice-two:hover {
  transform: scale(1.03);
}
.choice__choice-one h2,
.choice__choice-two h2 {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

.choice__choice-one {
  background-image: url(".././assets/img/main/artists-quiz.jpg");
}

.choice__choice-two {
  background-image: url(".././assets/img/main/pictures-quiz.jpg");
}

.category__title,
.results__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-end;
}

.category__title-420 {
  display: none;
}

.category__items,
.results__items,
.category2__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.category__items .category__item,
.category__items .category2__item,
.results__items .category__item,
.results__items .category2__item,
.category2__items .category__item,
.category2__items .category2__item {
  max-width: 300px;
  transition: 0.3s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.category__items .category__item .item__block .block__image,
.category__items .category2__item .item__block .block__image,
.results__items .category__item .item__block .block__image,
.results__items .category2__item .item__block .block__image,
.category2__items .category__item .item__block .block__image,
.category2__items .category2__item .item__block .block__image {
  cursor: pointer;
}
.category__items .category__item .item__block .block__image img,
.category__items .category2__item .item__block .block__image img,
.results__items .category__item .item__block .block__image img,
.results__items .category2__item .item__block .block__image img,
.category2__items .category__item .item__block .block__image img,
.category2__items .category2__item .item__block .block__image img {
  max-width: 300px;
  width: 100%;
}
.category__items .category__item:hover,
.category__items .category2__item:hover,
.results__items .category__item:hover,
.results__items .category2__item:hover,
.category2__items .category__item:hover,
.category2__items .category2__item:hover {
  box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.2);
}

.reshidden {
  opacity: 0;
}

.block__numbers,
.block__stage {
  background-color: white;
  padding: 0 10px 0 10px;
}

.number__ordinal-big {
  font-size: 72px;
  font-weight: bold;
}

.number__result-small {
  font-size: 18px;
  margin-top: 20px;
}

.number__result-img,
.number__result2-img {
  margin-top: 20px;
  transition: 0.3s;
  width: 30px;
}

.number__result-img:hover,
.number__result2-img:hover {
  transform: scale(1.4);
}

.block__numbers {
  display: flex;
  justify-content: space-between;
}

.slider__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.slider__logo {
  width: 95px;
  height: 60px;
  background-size: contain;
  margin: 0;
}

.slider__timer {
  display: flex;
  align-items: center;
}
.slider__timer .timer-img {
  background-image: url(".././assets/svg/timer-picture.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 50px;
}
.slider__timer .timer-count {
  width: 110px;
  height: 50px;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #660033;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-line {
  display: flex;
  transition: 0.5s;
}

.slider__author,
.page__results {
  transition: 0.5s;
}

.results__title-420 {
  display: none;
}

.form-radio-btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.form-radio-btn input[type=radio] {
  display: none;
}

.form-radio-btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 30px;
  transition: 0.5s;
  white-space: nowrap;
}

label:nth-child(2) {
  border-right: 1px solid #660033;
  border-bottom: 1px solid #660033;
}

label:nth-child(4) {
  border-bottom: 1px solid #660033;
  text-align: right;
}

label:nth-child(6) {
  border-right: 1px solid #660033;
}

label:nth-child(8) {
  text-align: right;
}

/* Checked */
.form-radio-btn input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.form-radio-btn label:hover {
  color: #777;
}

/* Disabled */
.form-radio-btn input[type=radio]:disabled + label {
  background: #efefef;
  color: #777;
}

.dots {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  bottom: 0;
  margin: auto;
  height: 15px;
}

.dots-game2 {
  top: 75%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  margin-left: 5px;
}

.modal {
  max-width: 582px;
  width: 100%;
  height: 715px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
  padding: 20px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-wrap {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #660033;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal-wrap .trueanswer__img {
  max-width: 100%;
  margin-bottom: 20px;
}
.modal-wrap .trueanswer__name {
  margin-bottom: 20px;
}
.modal-wrap .trueanswer__year {
  margin-bottom: 20px;
}

.hidden {
  transform: scale(0);
}

.modal__congrad {
  padding: 90px 90px;
}

.btns-congrad,
.btns-gameover {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btns-congrad {
  margin-top: 80px;
}

.btns-gameover {
  margin-top: 20px;
}

.congrad__score {
  font-size: 64px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

.game p,
.over p {
  font-size: 96px;
  font-weight: 500;
}

.again p {
  font-size: 36px;
  font-weight: 500;
}

.now-stage {
  font-size: 24px;
  margin-top: 20px;
}

.number__result-img,
.number__result2-img {
  cursor: pointer;
}

.results__item {
  width: 184px;
  transition: 0.3s;
}
.results__item .results__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  padding: 5px;
}
.results__item .results__subtitle .results__stage {
  color: #660033;
  text-transform: uppercase;
}
.results__item .block__image {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.results__item .block__image img {
  max-width: 300px;
  width: 100%;
}
.results__item:hover {
  box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.2);
}

.hover-up {
  transform: translateY(-120px);
}

.results__hover {
  max-width: 200px;
  width: 100%;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.results__hover .results__name,
.results__hover .results__author,
.results__hover .results__year {
  text-align: center;
}
.results__hover .results__name {
  margin-bottom: 10px;
}

.page__settings .settings__title {
  text-align: center;
  margin-bottom: 40px;
}
.page__settings .settings__blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 40px;
}
.page__settings .settings__blocks .settings__block {
  max-width: 415px;
  width: 100%;
  height: 415px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.page__settings .settings__blocks .settings__block .settings__block-image img {
  width: 100px;
}
.page__settings .settings__blocks .settings__block .indicators {
  display: flex;
  align-items: center;
}
.page__settings .settings__blocks .settings__block .indicators img {
  width: 40px;
}
.page__settings .settings__blocks .settings__block .indicator2 {
  flex-direction: column;
  align-items: center;
}

.checkbox-countdown {
  display: block;
  margin: 0 0 10px 0;
  line-height: 22px;
}

.checkbox-countdown input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 5px 0 0;
  padding: 0;
  vertical-align: middle;
  outline: none;
  transition: background 0.3s ease;
  background-image: url(".././assets/svg/checkbox-1.png") 0 0 no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

/* Checked */
.checkbox-countdown input[type=checkbox]:checked {
  background-image: url(".././assets/svg/checkbox-2.png");
}

.mute-range,
.time-range {
  background: grey;
  max-width: 130px;
  width: 100%;
  border-radius: 8px;
  height: 5px;
  outline: none;
  transition: background 350ms ease-in;
  -webkit-appearance: none;
  margin-left: 10px;
}

.mute-range::-webkit-slider-thumb,
.time-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #68C13D;
}

.btn-mute {
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  background-image: url(".././assets/svg/volume_up.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mute {
  background-image: url(".././assets/svg/volume_off.svg");
}

.btn-mute:hover {
  transform: scale(1.1);
}

.volume-value,
.countdown-value {
  width: 40px;
  height: 40px;
  color: #660033;
  font-size: 28px;
  margin-left: 10px;
}

.page__settings .settings__blocks .settings__block .countdown {
  display: flex;
  flex-direction: row;
}

.enabled-range {
  background: linear-gradient(to right, #D2D2D2 0%, #660033 100%);
}

.settings__home {
  margin: 0 auto;
  margin-top: 40px;
}

.game2__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-gap: 10px;
}
.game2__card img {
  max-width: 300px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.game2__card img:nth-child(1),
.game2__card img:nth-child(3) {
  -ms-grid-column-align: end;
      justify-self: end;
  display: block;
}
.game2__card img:nth-child(2),
.game2__card img:nth-child(4) {
  -ms-grid-column-align: start;
      justify-self: start;
  display: block;
}

.game2-author {
  margin-top: 20px;
}

.game2-author > h2 {
  text-align: center;
}

footer {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #BBBBBB;
}
footer .git a img {
  width: 100px;
}
footer .logorss a img {
  width: 100px;
}

@media all and (max-width: 1024px) {
  section {
    padding: 20px 10px 20px;
  }

  .logo {
    width: 160px;
    height: 100px;
  }

  .page__settings .settings__blocks .settings__block {
    max-width: 380px;
    width: 100%;
    height: 380px;
  }

  .number__result {
    flex-shrink: 0;
  }

  .number__ordinal-big {
    font-size: 54px;
  }

  .results__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
@media all and (max-width: 860px) {
  .logo {
    width: 120px;
    height: 80px;
  }

  .category__items,
.category2__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .results__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .choice__choice-one,
.choice__choice-two {
    max-width: 315px;
    width: 100%;
    height: 315px;
  }

  .choice {
    margin-bottom: 100px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }
}
@media all and (max-width: 680px) {
  .choice__choice-one,
.choice__choice-two {
    max-width: 250px;
    width: 100%;
    height: 250px;
  }

  .page__settings .settings__blocks {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .category__items,
.category2__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .results__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    font-size: 28px;
  }

  .form-radio-btn {
    margin: 10px auto 0;
  }

  .form-radio-btn label {
    height: 60px;
    white-space: initial;
    line-height: 20px;
  }

  .dots {
    top: 35%;
  }

  .dots-game2 {
    top: 75%;
  }
}
@media all and (max-width: 520px) {
  h2 {
    font-size: 26px;
  }

  .choice {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .choice__choice-one,
.choice__choice-two {
    max-width: 520px;
    width: 100%;
  }
  .choice__choice-one h2,
.choice__choice-two h2 {
    position: relative;
    top: 87%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }

  .choice__choice-one {
    background-image: url(".././assets/img/main/artists-quiz500.jpg");
  }

  .choice__choice-two {
    background-image: url(".././assets/img/main/pictures-quiz500.jpg");
  }

  .category__items,
.category2__items {
    display: flex;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .category__items .category__item,
.category__items .category2__item,
.category2__items .category__item,
.category2__items .category2__item {
    scroll-snap-align: start;
    flex: 0 0 280px;
    width: 280px;
    max-width: initial;
    width: initial;
  }

  .dots {
    top: 25%;
  }

  .dots-game2 {
    top: 75%;
  }

  .modal {
    padding: 30px 30px;
  }
}
@media all and (max-width: 420px) {
  .category__title h2 {
    display: none;
  }

  .category__title-420 {
    display: block;
    margin-bottom: 20px;
  }

  .dots {
    top: 15%;
  }

  .modal {
    height: 100vh;
    justify-content: center;
    padding: 30px 20px;
  }

  .modal-wrap {
    justify-content: center;
  }

  .slider__timer .timer-count {
    font-size: 20px;
    width: 50px;
  }

  .slider__timer .timer-img {
    width: 40px;
    height: 35px;
    margin: 0 5px;
  }

  .slider__title h2 {
    font-size: 16px;
  }

  .game2-author > h2 {
    font-size: 16px;
  }

  .results__items {
    display: flex;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    overflow-x: auto;
  }
  .results__items .results__item {
    scroll-snap-align: start;
    flex: 0 0 184px;
  }

  .results__title h2 {
    display: none;
  }

  .results__title-420 {
    display: block;
    margin-bottom: 20px;
  }

  .logo {
    width: 60px;
    height: 45px;
  }

  .start > .logo {
    width: 80px;
    height: 60px;
    margin-bottom: 20px;
  }

  .dots-game2 {
    top: 75%;
  }
}
@media all and (max-width: 340px) {
  .choice {
    grid-gap: 60px;
    margin-bottom: 50px;
  }

  .choice__choice-one h2,
.choice__choice-two h2 {
    font-size: 32px;
    top: 84%;
  }

  .dots {
    top: 5%;
  }

  .dots-game2 {
    top: 70%;
  }

  .modal {
    padding: 20px 5px;
  }
}